view    systemview    included   .1.3.6.1
{%- if system_name is defined %}
sysname {{ system_name }}
{%- endif %}
{%- if system_location is defined %}
syslocation {{ system_location }}
{%- endif %}
{%- if system_contact is defined %}
syscontact {{ system_contact }}
{%- endif %}
dontLogTCPWrappersConnects yes

{%- if v3users is defined %}
{%- for v3user, v3user_data in v3users.items() %}
{%- if ('read_only' in v3user_data) and not v3user_data['read_only'] %}
rwuser {{ v3user }}
{%- else %}
rouser {{ v3user }}
{%- endif %}
{%- endfor %}
{%- endif %}

#4 - Additionally we can add to snmpd.conf file the line (depending on the process to be monitored):
#proc <process name>
